/* Begin Banner */

/* #banner h2 {
    text-transform: uppercase;
    color: #2c2e53;
    font-size: 2.9rem;
    font-family: 'Gotham-Ultra';
}

#banner h2>span {
    text-transform: uppercase;
    color: #c39f70;
    font-size: 2.9rem;
    font-family: 'Gotham-Ultra';
} */

#banner {
    background-image: url(../imgs/banner_trangchu.jpg);
    height: 56.5625rem;
    margin-top: 3.75rem;
}

#banner h2,
#banner h2>span {
    text-transform: uppercase;
    font-size: 2.9rem;
    font-family: 'Gotham-Ultra';
}

#banner h2 {
    color: #2c2e53;
}

#banner h2>span {
    color: #c39f70;
}

#banner p {
    max-width: 34.69rem;
    text-align: justify;
}

#banner a {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-family: 'Gotham-Ultra';
    color: #fff;
    background-color: #c39f70;
    padding: 1.3rem 2rem;
}

#banner .container {
    position: relative;
}

#banner .container>div {
    position: absolute;
    left: 3.25rem;
    top: 12.5rem;
}

/* End Banner */
/* Begin Category */
#category {
    background-color: #f3f3f3;
    height: 28.75rem;
    /* padding-bottom: 6.25rem;     */
}

#category .container {
    position: relative;
}

#category .container>div {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    position: absolute;
    top: -3.75rem;
    background-color: #fff;
}

/* #category .box-category {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

#category .box-category {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

#category .img-category {
    max-width: 10.75rem;
    margin: auto;
}

#category h3 {
    text-align: center;
}

#category h3>a {
    color: #2c2e53;
    font-family: 'Gotham-Ultra';
}

/* End Category */

/* Begin -Product */

#products {
    padding-top: 6.375rem;
    padding-bottom: 3.75rem;
    background-color: #f3f3f3;
}

#products .list-product {
    position: relative;
}

#products .list-product .box-product>div {
    max-width: 270px;
    margin: auto;
}


#products .btn-product {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #c39f70;
    border: 0;
    color: #fff;
    font-size: 2rem;
    position: absolute;
    top: 30%;
}

#products .btn-product.slick-prev {
    left: -2.5rem;
}

#products .btn-product.slick-next {
    left: calc(100% - 0.5rem);
}
#products  .box-product h3,
#products  .box-product p{
    text-align: center;
}
#products  .box-product a{
    text-transform: uppercase;
    color: #2c2e53;
    font-family: 'Gotham-Ultra';
    
}
/* End Product */


/* Begin About us */
#about-us{
    background-image: url("../imgs/ve-chung-toi/bg-about-us.jpg");
    height: 65.75rem;
    position: relative;
}

#about-us::after{
    content: '';
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 65.75rem;
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: 1;
}

#about-us .container>div{
    position: relative;
    max-width: 73rem;
    margin: auto;
    z-index: 2;
}
#about-us .about-us-top h3{
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
}
#about-us h3 span{
    font-size: 1.5rem;
    font-family: 'Gotham-Ultra';
}
#about-us .about-us-top p{
    color: #fff;
    font-size: 0.75rem;
    text-align: justify;
    max-width: 34.5rem;
}

#about-us p span{
    font-family: 'Gotham-Ultra';
    font-size: 0.75rem;
}

#list-img-about-us :last-child{
    position: relative;
}

#list-img-about-us:last-child p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}
/* #list-img-about-us a{
    color: #fff;
} */

/* End About us */